.inicio{
    background-color: rgb(19, 15, 15);
}
.form{
    border: 3px solid rgb(176, 176, 226);
    border-radius: 6px;
}
h5{
    font-size: 1rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
i{
    text-align: center;
    font-size: 2rem;
    color: blue;
}

/*estilos para los ejercicios.*/

.ejercicios{
    background-color: rgb(236, 235, 248);
}
form{
    border: 2px solid rgb(104, 176, 224);
    border-radius: 8px;
    padding: 5px;
   /* background-color: rgb(75, 69, 69);*/
}

