.inicio{
    background-color: rgb(19, 15, 15);
}
.form{
    border: 3px solid rgb(176, 176, 226);
    border-radius: 6px;
}
h1{
    font-size: 2rem;
    font-style: inherit;
}

/*estilos para los ejercicios.*/

.ejercicios{
    background-color: rgb(236, 235, 248);
}
form{
    border: 4px solid rgb(241, 229, 229);
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(75, 69, 69);
}
button{
    text-align: center;
}